.container
    .jumbotron
        h1 Multivision
        p alskdfj laksjd flkasj dflkjas dflkj asldkfj salkdjf lksaj df

    .row
        .col-sm-6
            div(ng-include="'/partials/featured-courses'")
        .col-sm-6
            div(ng-include="'/partials/new-courses'")