// Creating a script tag that has a GlobalVariable containing current user
if !!bootstrappedUser
    // This script gets written out to the page
    script.
        window.bootstrappedUserObject = !{JSON.stringify(bootstrappedUser)}