doctype
html
    head
        title MultiVision
        link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(type='text/css', rel='stylesheet', href='http://fonts.googleapis.com/icon?family=Material+Icons')
        // Import Google Icon Font
        link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        // Import materialize.css
        link(type='text/css', rel='stylesheet', href='/css/materialize.css', media='screen,projection')
        link(type='text/css', rel='stylesheet', href='/css/temp.css')
        // Let browser know website is optimized for mobile
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        base(href="/")
    body(ng-app='app')
        include currentUser
        block main-content
        include scripts