doctype
html
    head
        link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.2/toastr.css")
        link(href="/css/site.css")
        base(href="/")
    body(ng-app='app')
        block main-content
        include scripts